<a href="https://colab.research.google.com/github/USMS-FPK-IA-GI-2025/controle-01-numpy-and-matplotlib-iris-azlafi-salah-eddine/blob/main/notebooks/controle_numpy_matplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Contrôle 01 — Data Science avec NumPy et Matplotlib
**Master 1 — Intelligence Artificielle & Génie Informatique (FPK / USMS)**

Nom & Prénom :  AZLAFI Salah Eddine

Filière : SIIA

Année universitaire : 2025/2026

---

**Règles :**
- Bibliothèques autorisées : NumPy, Matplotlib
- Toute autre bibliothèque est interdite
- Chaque question doit être traitée dans une cellule dédiée
- Chaque résultat doit être brièvement interprété

# Partie A — Importation du Dataset, Arrays, Premières Manipulations

### A1. Importation du dataset
Importez NumPy et Matplotlib.  
Chargez le fichier `iris.csv` avec `np.genfromtxt` (`delimiter=','`, `skip_header=1`).  
Stockez les données dans un array nommé `data` et affichez sa `shape`.

In [13]:
# Votre code ici
import numpy as np
import matplotlib.pyplot as plt

data = np.genfromtxt('Iris.csv',delimiter=',',skip_header=1)
print(data.shape)

(150, 6)

### A2. Séparation des features et des espèces
Séparez :
- les 4 premières colonnes numériques dans un array `features`
- la dernière colonne (espèces) dans un array `species`
Utilisez le slicing.

In [16]:
# Votre code ici

features = data[:,:4]
species = data[:,4]

print(features.shape)
print(species.shape)

(150, 4)
(150,)

### A3. Indexing
Affichez les 5 premières lignes de `features` en utilisant l’indexing.

In [17]:
# Votre code ici

print(features[:5])

[[1.  5.1 3.5 1.4]
 [2.  4.9 3.  1.4]
 [3.  4.7 3.2 1.3]
 [4.  4.6 3.1 1.5]
 [5.  5.  3.6 1.4]]

### A4. Extraction d’une colonne
Créez un array `sepal_length` contenant uniquement la première colonne de `features`.  
Affichez sa `size` et son `dtype`.

In [18]:
# Votre code ici
sepal_length = features[:,0]
print(sepal_length.size)
print(sepal_length.dtype)

150
float64

### A5. Slicing par espèce
Utilisez le slicing pour extraire les 50 premières lignes correspondant à l’espèce *Setosa*.  
Stockez-les dans `setosa_features`.

In [21]:
# Votre code ici
setosa_features = features[:50 , :]

print(setosa_features.shape)

(50, 4)

# Partie B — Statistiques Basiques et Opérations Mathématiques

### B6. Moyenne par colonne
Calculez la moyenne de chaque colonne de `features` avec `np.mean(axis=0)`.

In [22]:
# Votre code ici

mean_features = np.mean(features,axis=0)

print(mean_features)

[75.5         5.84333333  3.054       3.75866667]

### B7. Min et Max
Trouvez la valeur minimale et maximale de la longueur des pétales.

In [28]:
# Votre code ici
petal_length = features[:,2]
min_petal_length = np.min(petal_length)
max_petal_length = np.max(petal_length)

print(min_petal_length)
print(max_petal_length)

2.0
4.4

### B9. Normalisation
Normalisez les longueurs des pétales en les divisant par leur maximum.
Stockez le résultat dans `normalized_petals`.

In [33]:
# Votre code ici
petal_length = features[:,2]
max_petal_length = np.max(petal_length)

normalized_petals = petal_length/max_petal_length

print(normalized_petals)

[0.79545455 0.68181818 0.72727273 0.70454545 0.81818182 0.88636364
 0.77272727 0.77272727 0.65909091 0.70454545 0.84090909 0.77272727
 0.68181818 0.68181818 0.90909091 1.         0.88636364 0.79545455
 0.86363636 0.86363636 0.77272727 0.84090909 0.81818182 0.75
 0.77272727 0.68181818 0.77272727 0.79545455 0.77272727 0.72727273
 0.70454545 0.77272727 0.93181818 0.95454545 0.70454545 0.72727273
 0.79545455 0.70454545 0.68181818 0.77272727 0.79545455 0.52272727
 0.72727273 0.79545455 0.86363636 0.68181818 0.86363636 0.72727273
 0.84090909 0.75       0.72727273 0.72727273 0.70454545 0.52272727
 0.63636364 0.63636364 0.75       0.54545455 0.65909091 0.61363636
 0.45454545 0.68181818 0.5        0.65909091 0.65909091 0.70454545
 0.68181818 0.61363636 0.5        0.56818182 0.72727273 0.63636364
 0.56818182 0.63636364 0.65909091 0.68181818 0.63636364 0.68181818
 0.65909091 0.59090909 0.54545455 0.54545455 0.61363636 0.61363636
 0.68181818 0.77272727 0.70454545 0.52272727 0.68181818 0.56818182
 0.59090909 0.68181818 0.59090909 0.52272727 0.61363636 0.68181818
 0.65909091 0.65909091 0.56818182 0.63636364 0.75       0.61363636
 0.68181818 0.65909091 0.68181818 0.68181818 0.56818182 0.65909091
 0.56818182 0.81818182 0.72727273 0.61363636 0.68181818 0.56818182
 0.63636364 0.72727273 0.68181818 0.86363636 0.59090909 0.5
 0.72727273 0.63636364 0.63636364 0.61363636 0.75       0.72727273
 0.63636364 0.68181818 0.63636364 0.68181818 0.63636364 0.86363636
 0.63636364 0.63636364 0.59090909 0.68181818 0.77272727 0.70454545
 0.68181818 0.70454545 0.70454545 0.70454545 0.61363636 0.72727273
 0.75       0.68181818 0.56818182 0.68181818 0.77272727 0.68181818]

### B10. Somme cumulée
Calculez la somme cumulée des largeurs des pétales pour Versicolor.
Affichez les 10 premières valeurs.

In [34]:
# Votre code ici
versicolor_features = features[50:100,:]

petal_width_versicolor = versicolor_features[:,3]

cumsum_petal_width_versicolor = np.cumsum(petal_width_versicolor)

print(cumsum_petal_width_versicolor[:10])

[ 4.7  9.2 14.1 18.1 22.7 27.2 31.9 35.2 39.8 43.7]

# Partie C — Transformations Avancées avec NumPy

### C11. Espèces uniques
Listez les espèces uniques avec `np.unique` et comptez leurs occurrences.

In [ ]:
# Votre code ici

### C12. Reshape par espèce
Transformez `features` en un array de forme `(3, 50, 4)` nommé `features_by_species`.

In [ ]:
# Votre code ici

### C13. Concaténation
Concaténez horizontalement les moyennes par colonne avec un array de zéros.

In [ ]:
# Votre code ici

### C14. Data cleaning (simulation)
Simulez des valeurs NaN et remplacez-les avec `np.nan_to_num`.

In [ ]:
# Votre code ici

### C15. Broadcasting
Ajoutez 1 à toutes les valeurs de la première colonne de `features`.

In [ ]:
# Votre code ici

### C16. np.where
Créez un array binaire indiquant si la longueur des pétales est supérieure à 4.0.

In [ ]:
# Votre code ici

# Partie D — Visualisation avec Matplotlib (Plots Simples)

### D17. Line plot
Line plot des longueurs des sépales pour les 50 premières fleurs.

In [ ]:
# Votre code ici

### D18. Scatter plot
Scatter plot : longueur vs largeur des pétales.

In [ ]:
# Votre code ici

### D19. Bar chart
Bar chart des moyennes des quatre caractéristiques.

In [ ]:
# Votre code ici

### D20. Histogram
Histogramme de la largeur des sépales (10 bins).

In [ ]:
# Votre code ici

### D21. Boxplot par espèce
Boxplot des longueurs des pétales par espèce.

In [ ]:
# Votre code ici

# Partie E — Visualisations Avancées

### E22. Subplots comparatifs
Deux scatter plots côte à côte : Setosa vs Versicolor.

In [ ]:
# Votre code ici

### E23. Grille 2x2
Histogrammes des 4 caractéristiques avec `plt.subplots(2,2)`.

In [ ]:
# Votre code ici

### E24. Bar chart avec error bars
Moyennes par espèce avec écart-type.

In [ ]:
# Votre code ici

### E25. Scatter coloré par espèce
Scatter plot avec couleurs par espèce.

In [ ]:
# Votre code ici

### E26. Line plot superposé
Cumsum des largeurs des pétales par espèce.

In [ ]:
# Votre code ici

# Partie F — Mini-Analyse Finale

### F27. Corrélations
Calculez la matrice de corrélation avec `np.corrcoef`.

In [ ]:
# Votre code ici

### F28. Visualisation des corrélations
Visualisez les corrélations sous forme de bar chart ou scatter.

In [ ]:
# Votre code ici

### F29. Variance par espèce
Identifiez l’espèce avec la plus grande variance globale et visualisez ses distributions.

In [ ]:
# Votre code ici

### F30. Conclusion
Rédigez une conclusion contenant **3 insights** issus de votre analyse.

1) ...
2) ...
3) ...